/* visual indicator for required fields */
.event-field.transformed-custom-field[data-required="true"] .label::after {
  content: " *";
  color: var(--danger);
}

/* cleanup and layout for the event builder modal */
.post-event-builder-modal {
  .event-field-to-hide {
    display: none !important;
  }

  .event-field.transformed-custom-field {
    margin-bottom: 1.5em !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;

    .event-field-label {
      margin-bottom: 0.5em !important;
      display: block !important;
      width: 100% !important;

      .label {
        font-weight: bold !important;
        display: inline-block !important;
        color: var(--primary) !important;
      }
    }

    select.custom-event-dropdown {
      width: 100% !important;
      height: 35px !important;
      padding: 0 0.5em !important;
      border: 1px solid var(--primary-low) !important;
      border-radius: 4px !important;
      background-color: var(--secondary) !important;
      color: var(--primary) !important;
    }
    
    input[type="text"] {
      display: none !important;
    }
  }
}