.post-event-builder-modal {
  /* hide the original custom field header and 'optional' text */
  .event-field-label .label,
  .event-field-description,
  .custom-field-input {
    display: none !important;
  }

  /* ensure our injected row matches the native layout */
  .checkbox-label.injected-custom-field {
    display: flex !important;
    align-items: center !important;
    margin-top: 10px !important;
    cursor: pointer;

    input[type="checkbox"] {
      margin-right: 10px !important;
      width: 18px !important;
      height: 18px !important;
      flex-shrink: 0;
    }

    .message {
      font-weight: bold !important;
      color: var(--primary) !important;
      line-height: var(--line-height-medium);
    }
  }
}