.post-event-builder-modal {
  /* remove all hiding logic to see if elements are rendering */
  
  .custom-field-label {
    color: green !important; /* highlight the target labels in green */
    font-weight: bold !important;
  }

  input[type="checkbox"] {
    display: inline-block !important;
    visibility: visible !important;
    opacity: 1 !important;
  }
}